<div class="form-inline container">
    <div class="form-group mb-2" >
        <input class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
    </div>
    <label>Filtro: {{filtroLista}}</label>
</div>
<table class="table table-striped container">
    <thead class="thead-dark">
        <tr>
            <th>
                <button 
                class="btn btn-outline-primary" 
                (click)="alternarImg()">
                    <i class="{{mostrarImg? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Quantidade</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length" >
        <tr *ngFor="let eventos of eventosFiltrados">
            <th><img *ngIf ="mostrarImg" 
            src="http://localhost:5000/img/{{eventos.imgUrl}}"
            [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem"></th>
            <th>{{eventos.id}}</th>
            <th>{{eventos.tema}}</th>
            <th>{{eventos.local}}</th>
            <th>{{eventos.data | DateTimeFormatPipe}}</th>
            <th>{{eventos.qtdPessoas}}</th>
            <th>
                <div *ngIf = "!eventos.lotes.length">
                    Não informado!!
                </div>
                <div *ngIf = "eventos.lotes.length">
                    {{eventos.lotes[0].nome | uppercase}}
                </div>
            </th>
            <th>
                <div class=" btn-group">
                    <button class=" btn btn-sm btn-success"
                     tooltip="Editar" (click)="openModal(modelo)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class=" btn btn-sm btn-danger" 
                    tooltip="Excluir" (click)="openModal(modelo)">
                        <i class="fa fa-eraser"></i>
                    </button>
                </div>
            </th>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos || !eventos.length">
        <tr>
            <td colspan="7" class="text-center">
                <h3>
                    Nenhum evento encontrado!!
                </h3>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #modelo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" 
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>

